PytorchWildlife
torch
torchvision
pandas
numpy
Pillow
scikit-learn
soundfile
librosa
setuptools<81
wandb
matplotlib
fastapi
uvicorn[standard]

sqlalchemy
python-multipart
huggingface_hub
streamlit
folium
streamlit-folium
plotly
onnx
onnxscript
onnxruntime